 body {
 background:green;
 font-family:Arial, Helvetica, sans serif;
 text-transform:uppercase;
 }
 table {
    width: 600px; }
 }
  table, tr, td, th {
  border: 2px solid red;  
  border-collapse: none;
  text-allign: center;
  padding: 5px;
  margin: 0;
 }
 <h2 {font-family:verdana;
 font-size: 17px}

 table {background-color: red; }

 Img { width: 100px; }

 p { font-size: 12px; }
 a {font-size: 10px}

 p, a {
   text-transform: none;
 }

 h2 {
   font-size: 15px;
}
